---
import Layout from '../../layouts/Layout.astro';
import Heading from '../../components/Heading';
import Button from '../../components/Button';
import HoverCard from '../../components/HoverCard';
import salonServicesImage from "/public/salon-services.jpeg";
import bridalServicesImage from "/public/bridal-services.jpeg";

const serviceCardMappings = [
	{
		id: 1,
		image: salonServicesImage,
		slug: 'services/salon',
		buttonText: 'Salon Services',
		title: 'Salon',
		externalLink: false,
	},
	{
		id: 2,
		image: bridalServicesImage,
		slug: 'services/bridal',
		buttonText: 'Bridal Services',
		title: 'Bridal',
		externalLink: false,
	}
];
---

<Layout
	title="Services - Graced Studio"
	description="Luxurious styling, high-quality coloring, and the best extension services in Concord, North Carolina."
>
<section class="container mx-auto max-w-6xl px-4">
    <Heading title="Services" />
    <div class="flex flex-col sm:flex-row gap-12 mb-16 justify-center">
        {serviceCardMappings.map((card) => (
            <HoverCard
                key={card.id}
                image={card.image}
                slug={card.slug}
                buttonText={card.buttonText}
                title={card.title}
                externalLink={card.externalLink}
                includeBotBorder={false}
            />
        ))}
    </div>
    <div class="flex flex-col md:flex-row justify-center items-center p-6 md:mb-8">
        <Button
            href="https://squareup.com/appointments/book/f5ksza0xzqnzy3/LGZK3E9BBVKB5/start"
            external
        >
            Book Now
        </Button>
        <Button href="/new-clients">New Guests</Button>
        <Button
            href="https://loveamika.com/?rfsn=6430899.ee2b1b&utm_source=refersion&utm_medium=affiliate&utm_campaign=6430899.ee2b1b&offerid=43923&cn=gracedstudio"
            external
        >
            Shop
        </Button>
    </div>
</section>
</Layout>
