---
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>

		<script
			async
			src={`https://www.googletagmanager.com/gtag/js?id=${
				import.meta.env.NEXT_PUBLIC_GOOGLE_ANALYTICS
			}`}
		></script>
		<script
			dangerouslySetInnerHTML={{
				__html: `
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '${import.meta.env.NEXT_PUBLIC_GOOGLE_ANALYTICS}', {
              page_path: window.location.pathname,
            });
          `,
			}}
		></script>
	</head>
	<body>
		<Navbar client:load urlPath={Astro.url.pathname} />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer client:load />
	</body>
</html>
